
.error {
    font-size: 30px;
    text-align: left;
    color: darkgoldenrod;
    background: blanchedalmond;
}
.container {
    width: 500px;
    margin: 0 auto;
}
.title {
    text-align: center;
}
.loginError {
    text-align: center;
    color: orange;
    margin-top: 10px;
    font-size: 23px;
}